// Body
$body-bg: #f8fafc;

// Typography
$font: 'Monserrat';
$font-family-sans-serif: 'Monserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange: #FAA71A;
$light_purple: #4D3A63;
$dark_purple: #21093D;
$green: #4BFF00;

// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// .right-container-position {
//     position: relative;
//     top:100px;
//     align-items: center;
//     width: 90%;
//     margin-left:10%;
// }