body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff !important;
  color: #21093D;
}

.login {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login .login-content {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #21093dc7;
  color: #fff;
}

.login .login-content img {
  max-width: 15%;
  margin-bottom: 2rem;
}

.login .login-content h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.login .login-content input {
  width: 100%;
  min-height: 3rem;
  border: 0;
  padding: 0.5rem 1.5rem;
  background-color: #ffffff26;
  color: #fff;
  margin-bottom: 1rem;
}

.login .login-content button {
  border: none;
  min-height: 3rem;
  padding: 1rem;
  background-color: #faa71a;
  border-radius: 0;
}

.login .login-content button:hover {
  background-color: #da8900;
}

.login .login-content button:active, .login .login-content button:focus, .login .login-content button:not(:disabled):not(.disabled):active:focus {
  border: none;
  min-height: 3rem;
  padding: 1rem;
  background-color: #faa71a;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login .login-content ::-webkit-input-placeholder {
  color: #fff;
}

.login .login-content :-ms-input-placeholder {
  color: #fff;
}

.login .login-content ::-ms-input-placeholder {
  color: #fff;
}

.login .login-content ::placeholder {
  color: #fff;
}

.sidebar-overlay {
  background-color: #21093dcc;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  margin-top: 4px;
  display: inline-block;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.styled-checkbox:hover + label:before {
  background: #593196;
}

.styled-checkbox:focus + label:before {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #593196;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.map-card {
  padding-bottom: 0.4rem;
}

.more-map {
  padding-right: 0;
}

.more-map .card {
  height: 100%;
  border: 0.5rem solid transparent;
}

.more-map .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding-left: 0;
}

.more-map div {
  padding-right: 0;
  padding-left: 0;
}

.pomerene_jedinice,
.aktivne_licence {
  min-height: 21rem;
}

.aktivne_licence .aktivne_licence_item:hover {
  background-color: #f7f7f787;
}

.aktivne_licence .aktivne_licence_item label,
.aktivne_licence .aktivne_licence_item div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.aktivne_licence .aktivne_licence_item .more {
  text-align: right;
}

.aktivne_licence .aktivne_licence_item .date {
  text-align: center;
}

.aktivne_licence .aktivne_licence_item .date span {
  width: 100%;
  display: block;
}

.more {
  color: #21093d;
}

.edit {
  color: #faa71a;
}

.edit:hover {
  color: #e69100;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters .icon-btn {
  max-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters .apiar-add {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dataTable thead th {
  border-bottom: 0 !important;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #9a9a9a42 !important;
}

.dataTables_filter input {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cbc8d0;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.dataTables_length select {
  padding: 0.375rem 0.75rem;
  color: #444;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cbc8d0;
  border-radius: 0;
}

.dataTables_paginate .current {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cbc8d0;
  border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #cbc8d0 !important;
  background-color: #cbc8d0 !important;
  border: 1px solid #cbc8d0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cbc8d0 !important;
  border-radius: 0;
  background: transparent !important;
}

.log-table th {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: rgba(0, 0, 0, 0.05);
  color: #444;
  font-weight: 500;
  padding: 0.7rem 0.7rem;
}
/*# sourceMappingURL=app.css.map */