@import 'variables';

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff !important;
    color: $dark_purple;
}

// login screen 
.login {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    .login-content {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #21093dc7;
        color: #fff;

        img {
            max-width: 15%;
            margin-bottom: 2rem;
        }

        h1 {
            text-transform: uppercase;
            font-weight: bold;
        }

        input {
            width: 100%;
            min-height: 3rem;
            border: 0;
            padding: 0.5rem 1.5rem;
            background-color: #ffffff26;
            color: #fff;
            margin-bottom: 1rem;
        }

        button {
            border: none;
            min-height: 3rem;
            padding: 1rem;
            background-color: #faa71a;
            border-radius: 0;

            &:hover {
                background-color: #da8900;
            }

            &:active,
            &:focus,
            &:not(:disabled):not(.disabled):active:focus {
                border: none;
                min-height: 3rem;
                padding: 1rem;
                background-color: #faa71a;
                border-radius: 0;
                box-shadow: none;
            }
        }

        ::placeholder {
            color: #fff;
        }
    }
}

.sidebar-overlay {
    background-color: #21093dcc;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: transparent !important;
}

// filter: blur(8px);

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }

    // Box.
    &+label:before {
        content: '';
        margin-right: 10px;
        margin-top: 4px;
        display: inline-block;
        vertical-align: text-top;
        width: 15px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0.03);
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    // Box hover
    &:hover+label:before {
        background: #593196;
    }

    // Box focus
    &:focus+label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked+label:before {
        background: #593196;
    }

    // Disabled state label.
    &:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }

    // Disabled box.
    &:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked+label:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 11px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
        transform: rotate(45deg);
    }
}

.map-card {
    // min-height: 45rem;
    padding-bottom: 0.4rem;
}

.more-map {
    padding-right: 0;

    .card {
        height: 100%;
        border: 0.5rem solid transparent;
    }

    .card-body {
        // min-height: 14rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.125);
        padding-left: 0;
    }

    div {
        padding-right: 0;
        padding-left: 0;
    }
}

.pomerene_jedinice,
.aktivne_licence {
    min-height: 21rem;
}

.aktivne_licence {
    .aktivne_licence_item {
        &:hover {
            background-color: #f7f7f787;
            ;
        }

        label,
        div {
            flex: 1;
        }

        .more {
            text-align: right;
        }

        .date {
            text-align: center;

            span {
                width: 100%;
                display: block;
            }
        }
    }
}

.more {
    color: rgb(33, 9, 61);
    ;
}

.edit {
    color: rgb(250, 167, 26);

    &:hover {
        color: rgb(230, 145, 0);
    }
}

.filters {
    display: flex;
    align-items: center;

    .icon-btn {
        max-height: 3rem;
        display: flex;
        align-items: center;
    }

    .apiar-add {
        justify-content: flex-start;
    }
}

.dataTable {
    thead {
        th {
            border-bottom: 0 !important;
        }
    }
}

table.dataTable.no-footer {
    border-bottom: 1px solid #9a9a9a42 !important;
}

.dataTables_filter {
    input {
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #444;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #cbc8d0;
        border-radius: 0;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }
}

.dataTables_length {
    select {
        padding: 0.375rem 0.75rem;
        color: #444;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #cbc8d0;
        border-radius: 0;
    }
}

.dataTables_paginate {
    .current {
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #cbc8d0;
        border-radius: 0;
    }
}

.dataTables_wrapper {
    .dataTables_paginate {
        .paginate_button {
            &:hover {
                background: #cbc8d0 !important;
                background-color: #cbc8d0 !important;
                border: 1px solid #cbc8d0 !important;
            }
        }

        .paginate_button.current {
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #cbc8d0 !important;
            border-radius: 0;
            background: transparent !important;
        }
    }
}

.log-table {
    th {
        background-color: rgba(0, 0, 0, 0.03);
        border-color: rgba(0, 0, 0, 0.05);
        color: #444;
        font-weight: 500;
        padding: 0.7rem 0.7rem;
    }
}
