* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.sidebar {
  position: fixed;
  width: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  transition: width .3s ease;

  @media screen and (min-width: 600px) {
    width: 80px;
  }
}

.sidebar-bg {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  background-image: url('/assets/icons/flower.jpg');

  filter: blur(2px);
}

.sidebar-overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  background-color: #4D3A63cc;
  filter: blur(0px);
}

.sidebar ul {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.sidebar a {
  margin: 20px;
  color: #f8f8f8;
  display: flex;
}

.sidebar a:hover {
  color: #faa71a;
}

.sidebar:hover span {
  display: inline;
}

.sidebar span {
  display: none;
}

.sidebar:hover {
  width: 200px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav .icon {
  display: inline-flex;
  width: 50px;
  font-size: 1.5rem;
  justify-content: center;
} 

.icon-btn {
  border: none;
  background: none;
}

.sidebar_active {
  color: #faa71a;
}


/* $orange: #FAA71A;
$light_purple: #4D3A63;
$dark_purple: #21093D;
$green: #4BFF00; */


.table-fixed tbody {
  height: 300px;
  overflow-y: auto!important;
  width: 100%;
}
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block!important;
}
.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;
  position: relative!important;

}
.table-fixed tbody td::after,
.table-fixed tbody th::after,
.table-fixed thead > tr > th::after {
  content: '';
  clear: both;
  display: block!important;
}
