@import '../variables';

.admin-sidebar{
    margin:0;
    padding:0;
    color:white;
    position: absolute;
    position: fixed;
    top:0;
    left:0;
    width: 200px;
    border:1px solid black;
    border-right: 4px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $light_purple;
    z-index: 1000;
    a{
        color: white;
    }
    a:hover {
        background-color:#21093D!important;
        opacity: 0.7;
        text-decoration:none;
        font-weight:bold;
        transform:200ms ease;
    }
    a:active {

    }

    // Admin logo
    .admin-logo {
        margin-top:30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
        align-items: center;
        .admin-image {
            width: 20%;
        }
    }

    // Sidebar navigation 
    .sidebar-nav {
        .col-6 {
            margin:0!important;
            padding: 0!important;
        }
        display: flex;
        flex-direction: column;
        align-items: center;

        // Icons and text
        .sidebar-icons_div{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            vertical-align: middle;
            // sidebar icons left side
            .sidebar-icons_placeholder {
                max-width: 50%;
            }
            .sidebar-icons {
                margin-left:10px;
                width: 50%;
            }
            
            .sidebar-icons_div__text {
                width: 50%;
            }
            .sidebar-icons_div__text p {
                margin-top: 16px;
                text-align: left;
            }
        }
        .sidebar-icons_div:not(:first-child) {
            margin-top:20px;
        }
        .sidebar-icons_div.settings {
            position: absolute;
            bottom: 80px;
        }
        // when we hover sidebar div
        .sidebar-icons_div:hover {
            color: $orange;
        }

        .sidebar-icons_div.collapse {
            display:block;
            position: absolute;
            bottom: 0px;
            text-align: right;
            border-top:1px solid black;
            img {
                width: 40px;
                margin-right: 0px;
                -webkit-transform:rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
        
    }
}  

@media(max-width:600px) {
    .admin-sidebar {
        // display: none;
        opacity: 0;
        display: none;
        transition:2s ease;
    }

    
}