.admin-sidebar {
  margin: 0;
  padding: 0;
  color: white;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  border: 1px solid black;
  border-right: 4px solid black;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #4D3A63;
  z-index: 1000;
}

.admin-sidebar a {
  color: white;
}

.admin-sidebar a:hover {
  background-color: #21093D !important;
  opacity: 0.7;
  text-decoration: none;
  font-weight: bold;
  -webkit-transform: 200ms ease;
          transform: 200ms ease;
}

.admin-sidebar .admin-logo {
  margin-top: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-sidebar .admin-logo .admin-image {
  width: 20%;
}

.admin-sidebar .sidebar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-sidebar .sidebar-nav .col-6 {
  margin: 0 !important;
  padding: 0 !important;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: middle;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div .sidebar-icons_placeholder {
  max-width: 50%;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div .sidebar-icons {
  margin-left: 10px;
  width: 50%;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div .sidebar-icons_div__text {
  width: 50%;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div .sidebar-icons_div__text p {
  margin-top: 16px;
  text-align: left;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div:not(:first-child) {
  margin-top: 20px;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div.settings {
  position: absolute;
  bottom: 80px;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div:hover {
  color: #FAA71A;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div.collapse {
  display: block;
  position: absolute;
  bottom: 0px;
  text-align: right;
  border-top: 1px solid black;
}

.admin-sidebar .sidebar-nav .sidebar-icons_div.collapse img {
  width: 40px;
  margin-right: 0px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (max-width: 600px) {
  .admin-sidebar {
    opacity: 0;
    display: none;
    -webkit-transition: 2s ease;
    transition: 2s ease;
  }
}
/*# sourceMappingURL=admin_sidebar.css.map */