.right-container-position, .search-navbar {
  position: relative;
  top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-left: 10%;
}

.search-navbar {
  margin: 0 !important;
  top: 50px;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.search-navbar .sort-name {
  border: 1px solid black;
  border-radius: 20px;
}

.search-navbar .sort-name:focus {
  border-radius: 20px;
}

@media (max-width: 600px) {
  .search-navbar {
    left: 10%;
    width: 90%;
  }
}
/*# sourceMappingURL=search_navbar.css.map */