@import '../variables';
.search-navbar {
    @extend .right-container-position;
    margin:0!important;
    top:50px;
    left:15%;
    // width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .sort-name {
        border:1px solid black;
        border-radius: 20px;
    }
    .sort-name:focus {
        border-radius: 20px;
    }
    
}
@media (max-width:600px) {
    .search-navbar {
        
        left:10%;
        width: 90%;
    }
    
}