.right-container-position, .container .users-list {
  position: relative;
  top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-left: 10%;
}

.container {
  position: relative;
  height: 100%;
}

.container .users-list .controll {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .users-list .controll .checkbox-select {
  margin-top: 30px;
  margin-left: 4%;
}

.container .users-list .controll .controll-btns {
  position: absolute;
  right: 4%;
}

.container .users-list .users {
  padding: 0;
  border: 1px solid black;
  margin-top: 50px;
  vertical-align: middle;
}

.container .users-list .users .table_card {
  position: relative;
  height: 40px;
  margin: 0;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.container .users-list .users .table_card p {
  padding-top: 8px;
  position: relative;
  color: #21093D;
}

.container .users-list .users .table_card.users_user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .users-list .users .table_card.users_user-actions img {
  color: #21093D;
  height: 30px;
}

.container .users-list .users .table_card:first-child {
  width: 50px;
}

@media (max-width: 600px) {
  .control-btn {
    display: none;
  }
  .container {
    width: 100% !important;
    font-size: 10px;
  }
  .users-list {
    width: 100% !important;
    left: 0% !important;
  }
  .user-actions__img {
    height: 50% !important;
    margin-top: 10px !important;
  }
}
/*# sourceMappingURL=users_list.css.map */