@import '../variables';
.container {
    position: relative;
    height: 100%;
    .users-list {
       
        @extend .right-container-position;
        .controll {
            width: 100%;
            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;
            .checkbox-select {
                margin-top:30px;
                margin-left:4%;
            }
            .controll-btns {
                position: absolute;
                right: 4%;
            }
        }
        //  Users table
        .users {
            padding: 0;
            border: 1px solid black;
            margin-top:50px;
            vertical-align: middle;
            .table_card{
                position: relative;
                height: 40px;
                margin: 0;
                border:1px solid black;
                text-align: center;
                vertical-align: middle;
                p {
                    padding-top:8px;
                    position: relative;
                    color:$dark_purple;
                }
            }
            .table_card.users_user-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                img {
                    // position: absolute;
                    color:$dark_purple;
                    height: 30px;
                }
    
            }
            .table_card:first-child {
                width: 50px;
            }
        }
    }
}

@media(max-width:600px) {
    .control-btn {
        display: none;
    }
    .container {
        width: 100%!important;
        font-size: 10px;
        // padding:0;
        // margin:0;
    }
    .users-list {
        width: 100%!important;
        left:0%!important;
    }
    .user-actions__img {
        height: 50%!important;
        margin-top:10px!important;
        // padding-top:12.5px!important;
    }
    .users_user-actions {
        // vertical-align: middle;
    }
}

