@import '../variables';

.container {
    position: relative;
    .heading_top{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
       
        .heading-left {
            display: flex;
            flex-direction: column;
        }
        .heading-right{
            display: flex;
            flex-direction: row;
            .heading-right__left-panel{
                display: flex;
                flex-direction: column;
            }
        }
    }
    color:black!important;
    img{
        width: 40px!important;
    }
}