.container {

    .apiar_list_table {
        .main_actions {
            display: flex;
            justify-content: flex-end;
            i {
                font-size: 22px;
                padding: 0px;
            }
            .fa-trash {
                color:red;
            }
        }
        .actions {
            display: flex;
            justify-content: flex-end;
            i {
                font-size: 20px;
            }
            .on_off {
                color:#00aa00;
            }
        }
    }


    .apiar_single_table {
        .main_actions {
            display: flex;
            justify-content: flex-end;
            i {
                font-size: 22px;
                padding: 0px;
            }
            .fa-trash {
                color:red;
            }
        } 
        i {
            font-size: 20px;
            font-weight: bold;
        }
        .icons-cell {
            display: flex;
            justify-content: center;
        }
    }
}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 250px;
}
.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}
.table-scroll thead > tr > th {
    border: none;
}