.container .apiar_list_table .main_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .apiar_list_table .main_actions i {
  font-size: 22px;
  padding: 0px;
}

.container .apiar_list_table .main_actions .fa-trash {
  color: red;
}

.container .apiar_list_table .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .apiar_list_table .actions i {
  font-size: 20px;
}

.container .apiar_list_table .actions .on_off {
  color: #00aa00;
}

.container .apiar_single_table .main_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .apiar_single_table .main_actions i {
  font-size: 22px;
  padding: 0px;
}

.container .apiar_single_table .main_actions .fa-trash {
  color: red;
}

.container .apiar_single_table i {
  font-size: 20px;
  font-weight: bold;
}

.container .apiar_single_table .icons-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-scroll tbody {
  position: absolute;
  overflow-y: scroll;
  height: 250px;
}

.table-scroll tr {
  width: 100%;
  table-layout: fixed;
  display: inline-table;
}

.table-scroll thead > tr > th {
  border: none;
}
/*# sourceMappingURL=user-details.css.map */